@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/IndexStyleSheet.css" rel="stylesheet" />

<div id="container-background">
    <div id=" container">
        <div class="text-center">
            <h1 class="display-4"></h1>
        </div>
    </div>
</div>
Click Here to register a new account: <a asp-controller="Home" asp-action="Registration">Registration Page</a>
