
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registration</h1>

@model User

<form asp-controller="Home" asp-action="Welcome" onsubmit="return Validate(); return PhoneCreate()">
    <fieldset>

        <div class=" form-group col-sm-4">
            <label asp-for="FirstName">FIRST NAME</label>
            <input asp-for="FirstName" class="form-control shadow-sm col-xs-3" type="text" name="FirstName" placeholder="First Name" required />
            <span class="alert-danger" asp-validation-for="FirstName"></span>
        </div>

        <div class=" form-group col-sm-4">
            <label asp-for="LastName">LAST NAME</label>
            <input asp-for="LastName" class="form-control shadow-sm col-xs-3" type="text" name="LastName" placeholder="Last Name" required />
            <span class="alert-danger" asp-validation-for="LastName"></span>
        </div>

        <div class=" form-group col-sm-4">
            <label asp-for="Email">EMAIL</label>
            <input asp-for="Email" class="form-control shadow-sm col-xs-3" type="Email" name="Email" placeholder="Email" required />
            <span class="alert-danger" asp-validation-for="Email"></span>
        </div>

        <div class=" form-group col-sm-4">
            <label asp-for="Password">PASSWORD</label>
            <input asp-for="Password" class ="form-control shadow-sm col-xs-3" type="password" name="password" id="password" placeholder="Password" required />
            <span class="alert-danger" asp-validation-for="Password"></span>
        </div>

        <div class=" form-group col-sm-4">
            <label>RE-ENTER PASSWORD</label>
            <input class="form-control shadow-sm col-xs-3" type="password" name="password2" id="password2" placeholder="Password" required />
        </div>

        <div class=" form-group col-sm-4">
            <label>BIRTHDAY</label>
            <input class="form-control shadow-sm col-xs-3" type="date" name="birthday" />
        </div>

        <label class="form-group col-sm-4">PHONE NUMBER</label>

        <div class=" form-group">
            <div class=" form-inline col-sm-4">
                <input class="form-control shadow-sm col-xs-3" type="text" name="PhoneNumber" id="PhoneNumber1" maxlength="3" pattern="[0-9]{3}" size="3" />-
                <input class="form-control shadow-sm col-xs-3" type="text" name="PhoneNumber" id="PhoneNumber2" maxlength="3" pattern="[0-9]{3}" size="3" />-
                <input class="form-control shadow-sm col-xs-3" type="text" name="PhoneNumber" id="PhoneNumber3" maxlength="4" pattern="[0-9]{4}" size="4" />
            </div>
        </div>

        <div class="form-group">
            <div class="form-inline col-sm-4">
                <input class="btn btn-outline-primary col-lg-5" type="submit" data-toggle="modal" data-target="#PasswordModal">
                <input class="btn btn-outline-danger " type="reset" style="margin:4px">
            </div>
        </div>
    </fieldset>
</form>


@*<script>
        function Validate() {

            var password = document.querySelector("#password").value;
            var password2 = document.querySelector("#password2").value;

            if (password === password2) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>

    <script>
        function PhoneRecreate() {

            var phone1 = document.querySelector("#phone1").value;
            var phone2 = document.querySelector("#phone2").value;
            var phone3 = document.querySelector("#phone3").value;

            var PhoneFull = phone1 + phone2 + phone3
            return PhoneFull;
        }
    </script>*@




